@font-face {
  font-family: "montserrat-bold";
  src: url("@/assets/fonts/Montserrat-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("@/assets/fonts/Montserrat-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("@/assets/fonts/Montserrat-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}